<app-header titulo="Autoevaluación"></app-header>

<ion-content class="ion-padding">
  <h5 class="center">Evalúa el estado de tu salud diariamente antes de acudir a tu jornada laboral</h5>
  <hr>
  <p class="center"><strong>¿Qué síntomas tienes?</strong> Seleccione si tiene algún síntoma, de lo contrario marque ninguna de las anteriores</p>
  <hr>
  <ion-list>
    <ion-item >
      <ion-label>Falta del aire</ion-label>
      <ion-checkbox color="secondary" slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Molestia en el pecho</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Fatiga o cansancio muscular</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Secreciones nasales</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Dolor de garganta</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Dolor de cabeza</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Pérdida del olfato y/o el gusto</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Trastornos gástricos</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Fiebre por más de 3 días</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Tos seca y persistente</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Malestar general</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Ninguno de los anteriores</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
