<app-header titulo="Cuidados"></app-header>

<!-- <ion-content>

    <iframe src="https://www.google.com/maps/d/embed?mid=1WYdNhg5FIWrJaKnwZ9DMs49UVmA" zoom="10" width="100%" height="100%"></iframe> 
    <iframe id="map-canvas" src="https://www.google.com/maps/d/embed?mid=1S0vCi3BA-7DOCS13MomK7KebkPsvYl8C" ></iframe>

</ion-content> -->

<ion-content class="ion-padding">

    <h3>¿Qué puedo hacer para protegerme y prevenir la propagación de la enfermedad?</h3>

    <h4>Medidas de protección para todas las personas </h4>

    <p>Manténgase al día de la información más reciente sobre el brote de COVID-19, a la que puede acceder en el sitio web de la OMS y a través de las autoridades de salud pública pertinentes a nivel nacional y local. Se han registrado casos en muchos países de todo el mundo, y en varios de ellos se han producido brotes. Las autoridades chinas y las de otros países han conseguido enlentecer o detener el avance de los brotes, pero la situación es impredecible y es necesario comprobar con regularidad las noticias más recientes.</p>
    <p>Hay varias precauciones que se pueden adoptar para reducir la probabilidad de contraer o de contagiar la COVID-19:</p>

    <p>Lávese las manos a fondo y con frecuencia usando un desinfectante a base de alcohol o con agua y jabón.</p>
    <p>¿Por qué? Lavarse las manos con agua y jabón o usando un desinfectante a base de alcohol mata los virus que pueda haber en sus manos.</p>

    <p>Mantenga una distancia mínima de 1 metro (3 pies) entre usted y cualquier persona que tosa o estornude.</p>

    ¿Por qué? Cuando alguien tose o estornuda, despide por la nariz o por la boca unas gotículas de líquido que pueden contener el virus. Si está demasiado cerca, puede respirar las gotículas y con ellas el virus de la COVID-19, si la persona que tose tiene la enfermedad.

Evite tocarse los ojos, la nariz y la boca
¿Por qué? Las manos tocan muchas superficies y pueden recoger virus. Una vez contaminadas, las manos pueden transferir el virus a los ojos, la nariz o la boca. Desde allí, el virus puede entrar en su cuerpo y causarle la enfermedad.

Tanto usted como las personas que les rodean deben asegurarse de mantener una buena higiene de las vías respiratorias. Eso significa cubrirse la boca y la nariz con el codo doblado o con un pañuelo de papel al toser o estornudar. El pañuelo usado debe desecharse de inmediato.
¿Por qué? Los virus se propagan a través de las gotículas. Al mantener una buena higiene respiratoria está protegiendo a las personas que le rodean de virus como los del resfriado, la gripe y la COVID-19.

Permanezca en casa si no se encuentra bien. Si tiene fiebre, tos y dificultad para respirar, busque atención médica y llame con antelación. Siga las instrucciones de las autoridades sanitarias locales.
¿Por qué? Las autoridades nacionales y locales dispondrán de la información más actualizada sobre la situación en su zona. Llamar con antelación permitirá que su dispensador de atención de salud le dirija rápidamente hacia el centro de salud adecuado. Esto también le protegerá a usted y ayudará a prevenir la propagación de virus y otras infecciones.

Manténgase informado sobre las últimas novedades en relación con la COVID-19. Siga los consejos de su dispensador de atención de salud, de las autoridades sanitarias pertinentes a nivel nacional y local o de su empleador sobre la forma de protegerse a sí mismo y a los demás ante la COVID-19.
¿Por qué? Las autoridades nacionales y locales dispondrán de la información más actualizada acerca de si la COVID-19 se está propagando en su zona. Son los interlocutores más indicados para dar consejos sobre lo que debe hacer la gente de su zona para protegerse.

Consulte las noticias más recientes sobre las zonas de mayor peligro (es decir, las ciudades y lugares donde la enfermedad se está propagando más extensamente). Si le es posible, evite desplazarse a estas zonas, sobre todo si su edad es avanzada o tiene usted diabetes, cardiopatías o neumopatías.
¿Por qué? Estas precauciones se deben adoptar en estas zonas porque la probabilidad de contraer la COVID-19 es más elevada.

<h4>Medidas de protección para las personas que se encuentran en zonas donde se está propagando la COVID-19 o que las han visitado recientemente (en los últimos 14 días)</h4>

Siga las orientaciones antes expuestas (Medidas de protección para todas las personas)
Permanezca en casa si empieza a encontrarse mal, aunque se trate de síntomas leves como dolor de cabeza, fiebre ligera (37,3 oC o más) y rinorrea leve, hasta que se recupere. Si le resulta indispensable salir de casa o recibir una visita (por ejemplo, para conseguir alimentos), póngase una mascarilla para no infectar a otras personas.
¿Por qué? Evitar los contactos con otras personas y las visitas a centros médicos permitirá que estos últimos funcionen con mayor eficacia y ayudará a protegerle a usted y a otras personas de posibles infecciones por el virus de la COVID-19 u otros.

Si tiene fiebre, tos y dificultad para respirar, busque rápidamente asesoramiento médico, ya que podría deberse a una infección respiratoria u otra afección grave. Llame con antelación e informe a su dispensador de atención de salud sobre cualquier viaje que haya realizado recientemente o cualquier contacto que haya mantenido con viajeros.
¿Por qué? Llamar con antelación permitirá que su dispensador de atención de salud le dirija rápidamente hacia el centro de salud adecuado. Esto ayudará también a prevenir la propagación de virus y otras infecciones.

¿Qué probabilidades hay de que contraiga la COVID-19?
El riesgo depende del lugar donde se encuentre usted y, más concretamente, de si se está produciendo un brote de COVID-19 en dicho lugar.

Para la mayoría de las personas que se encuentran en la mayor parte de los lugares, el riesgo de contraer esta enfermedad continúa siendo bajo. Sin embargo, sabemos que hay algunos lugares (ciudades o zonas) donde se está propagando y donde el riesgo de contraerla es más elevado, tanto para las personas que viven en ellas como para las que las visitan. Los gobiernos y las autoridades sanitarias están actuando con determinación cada vez que se detecta un nuevo caso de COVID-19. Es importante que todos respetemos las restricciones relativas a los viajes, los desplazamientos y las concentraciones multitudinarias de personas aplicables a cada lugar en concreto. Si cooperamos con las medidas de lucha contra la enfermedad, reduciremos el riesgo que corremos cada uno de nosotros de contraerla o de propagarla.

Como se ha comprobado en China y en otros países, es posible detener los brotes de COVID-19 y poner fin a su transmisión. No obstante, la gran rapidez con que pueden aparecer nuevos brotes nos obliga a ser conscientes de la situación en los lugares donde nos encontramos o donde tengamos intención de ir.


</ion-content>