<ion-tabs>


  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="news">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Local</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news-globales">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>Global</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="favoritos">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favooritas</ion-label>
    </ion-tab-button>


  </ion-tab-bar>


</ion-tabs>